/**
 * Print stylesheet for Sistem Kitabı
 * @version         1.0
 * @lastmodified    04.11.2017
 * Based on         https://www.noupe.com/design/css-perfect-print-stylesheet-98272.html
*/
 
@media print {
   
}

/* Setting content width, unsetting floats and margins */
/* Attention: the classes and IDs vary from theme to theme. Thus, set own classes here */
#content,#page {
  width: 100%; 
  margin: 0; 
  float: none;
}
 
/** Setting margins */       
@page { margin: 2cm }
 
/* Or: */
@page :left {
  margin: 1cm;
}
 
@page :right {
  margin: 1cm;
}
 
/* The first page of a print can be manipulated as well */
@page :first {
  margin: 1cm 2cm;
}

/* Set font to 16px/13pt, set background to white and font to black.*/
/* This saves ink */
body {
  font: 11pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  background: #fff !important;
  color: #000;
}
 
h1 {
  font-size: 14pt;
}
 
h2, h3, h4 {
  font-size: 13pt;
  margin-top: 25px;
}